body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
.main-header {
  height: 70px;
  box-shadow: 1px 1px 8px #333;
  background-color: #333
}
body {
    margin: 0;
    font-family: sans-serif;
}
.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}
.logo {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}
.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}
.header-spinner {
  padding: 5px;
}
h1 {
  display: inline-block;
  color: #fff;
  margin-left: 90px;
}
.content {
  margin: 20px 0;
}
