<fa-app class="full-screen container header-spinner">

  <!-- Container modifier, which we're rotating over the y axis -->
  <fa-modifier fa-origin="[.5, .5]" fa-align="[.05, .5]" fa-rotate-y="rotateY.get()">

    <!-- Front face -->
    <fa-surface fa-size="[true, true]" fa-color="'rgb(255,255,250)'">
      <img class="logo" src="images/famous_logo_white.svg" style="width: 50px; height: 50px;"/>
    </fa-surface>

    <!-- Back face:  same image, rotated pi radians -->
    <fa-modifier fa-rotate-y="3.14159">
      <fa-surface fa-size="[true, true]" fa-color="'rgb(255,255,250)'">
        <img class="logo" src="images/famous_logo_white.svg" style="width: 50px; height: 50px;" />
      </fa-surface>
    </fa-modifier>

  </fa-modifier>

</fa-app>